<div class="project-post">
    <div class="project-post__header">
        <h1>{{@this.title}}</h1>
    </div>
    <div class="project-post__content">
        <div class="project-post__image">
            <img src={{@this.image}} alt="project post imagery">
        </div>
        {{#each @this.sections as |section|}}
            <div class="project-post__section">
                <h2>{{section.subheader}}</h2>
                <p>{{section.description}}</p>
            </div>
        {{/each}}
        {{#if @this.url}}
        <div class="project-post__link">
            <a class="social-link" href={{@this.url}} target="_blank" rel="noopener noreferrer">
                <FaIcon @icon="github" @prefix="fab" @size="2x"/>
            </a>
        </div>
        {{/if}}
    </div>
</div>